<!DOCTYPE html>
<html>
<head>
  <title>Bloccit</title>
  <meta name="viewport" content="width=device-width, intitial-scale=1"
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
      <ul class="nav nav-tabs">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>

          <div class="jumbotron">
          <h1>Bloccitoff</h1>
  <p>A Project App.</p>
  <p>
      <a class="btn btn-primary" href="/users/sign_in">Sign In</a> or
      <a class="btn btn-primary" href="/users/sign_up">Sign Up</a> today!
  </p>
</div>
      </ul>
  <%= yield %>
  </div>

</body>
</html>